<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CSV ag-Grid</title>

    <!-- APPLICATION SYLES -->
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <!--3rd Party Scripts-->
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script
            src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="lib/jquery.csv.js"></script>
    <script src="lib/ag-grid.js"></script>
    <script src="lib/pouchdb-6.0.7.js"></script>
    <!--APPLICATION SCRIPTS-->
    <script src="scripts/app.js"></script>
</head>
<body>
    <div class="jumbotron">
        <h1 class="display-3">CSV Editor with ag-Grid</h1>
        <p class="lead">This is a simple app that allows you to upload a csv and transform, filter, edit, and download the results using ag-Grid.</p>
    </div>
    <div class="col-sm-3">
        <div id="file-list-container">
            <div id="file-list-header">
                <h3 class="my-files-header">My Files</h3>
            </div>
            <div id="file-list">
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <div id="file-upload-container" class="col-sm-8 col-sm-offset-2">
            <h3 class="upload">Upload your CSV File</h3>
            <div class="upload">
                <input type="file" name="File Upload" id="txtFileUpload" accept=".csv" />
            </div>
        </div>
        <div id="ag-grid-container" class="col-xs-12">
            <div id="ag-grid-header"></div>
            <div id="ag-grid" class="ag-fresh"></div>
        </div>
    </div>
</body>
</html>