<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CSV ag-Grid</title>

    <!-- APPLICATION SYLES -->
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <!--3rd Party Scripts-->
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!--APPLICATION SCRIPTS-->
    <script src="scripts/app.js"></script>

  </head>
<body>
  <div class="jumbotron">
    <h1 class="display-3">CSV Uploader with ag-Grid</h1>
    <p class="lead">This is a simple app that allows you to upload a csv and display the results using ag-Grid.</p>
  </div>
</body>
</html>