<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CSV ag-Grid</title>

    <!-- APPLICATION SYLES -->
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <!--3rd Party Scripts-->
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script
            src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="lib/jquery.csv.js"></script>
    <script src="lib/ag-grid.js"></script>
    <!--APPLICATION SCRIPTS-->
    <script src="scripts/app.js"></script>
</head>
<body>
    <div class="jumbotron">
        <h1 class="display-3">CSV Uploader with ag-Grid</h1>
        <p class="lead">This is a simple app that allows you to upload a csv and display the results using ag-Grid.</p>
    </div>
    <div class="col-sm-3">
        <div id="file-list-container">
            <h3>My Files</h3>
            <table id="file-list">
            </table>
            <div id="clear-uploads" class="btn btn-danger">Clear Uploads</div>
        </div>
    </div>
    <div class="col-sm-9">
        <div id="file-upload-container">
            <fieldset>
                <legend>Upload your CSV File</legend>
                <input type="file" name="File Upload" id="txtFileUpload" accept=".csv" />
            </fieldset>
            <div id="clear-data" class="btn btn-danger">Clear Data</div>
        </div>
        <div id="ag-grid-container">
            <div id="ag-grid-header"></div>
            <div id="ag-grid" class="ag-fresh"></div>
        </div>
    </div>
</body>
</html>