.jumbotron {
    padding: 10px;
}
.buttons {
    display: inline-block;
    margin: 5px;
}
.col-md-10 {
    padding-right: 0px;
}
/*Upload*/

.upload {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0px;
}

/*Grid*/

.grid-header {
        margin-top: 30px;
    }
#ag-grid {
    height:300px;
    margin-top: 10px;
}
#grid-buttons {
    float: right;
}
#ag-grid-container {
    padding-bottom: 20px;
}
@media(max-width: 991px) {
    #grid-buttons {
        float: none;
        text-align: center;
    }
    .grid-header {
        text-align: center;
    }
    #clear-db {
        float: inherit;
    }
}
@media(min-width: 992px) {
    .grid-header {
        display: inline-block;
    }
}

/*File List*/

.file-list-item {
    display: inline-block;
}
.col-sm-10 {
    padding-left: 0px;
    margin-left: 0px;
}
.my-files-header {
    display: inline-block;
    margin-top: 0;
}
.file-date {
    font-size: x-small;
    padding-left: 5px;
    padding-bottom: 10px;
}
.remove-file {
    float: right;
    margin-left: 20px;
}
#file-list-container {
    padding-bottom: 15px;
}
#file-list-header {
    padding-bottom: 10px;
}
.file-upload-container {
    padding: 15px;
    border: 1px solid black;
    margin-bottom: 20px
}
/*Graph*/

#line-graph-header {
    padding-top: 20px;
}
#axis-select-container {
    padding: 20px;
    margin-bottom: 50px;
}
#x-axis-select {
    padding-right: 20px;
}
.x-axis-container {
    margin-bottom: 20px;
}
.y-axis-container {
    margin-bottom: 20px;
    margin-left: 20px;
}