.jumbotron {
    padding: 10px;
}
#ag-grid {
    height:300px;
}
#clear-data {
    margin-top: 20px;
}
#export {
    margin-bottom: 10px;
}
#clear-uploads {
    margin-top: 10px;
}
.file-date {
    font-size: x-small;
    padding-left: 20px;
}